* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}


#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 170px;

    /***************    YOU CAN REMOVE THIS LAST TWO STYLES BUT PLEASE DONT REMOVE THE FIRST TWO**************/
   /* background-color: red;*/
    
}

/**************NAVBAR  *****************/
#logo{
    margin: 0;
}

#navbar {
    position: fixed;
    display: block;
    width: 100%;
    height: 87px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    box-shadow:  10px 5px 15px gray;

}
#container{
    padding-top: 100px;
}

#cart_item_count{
    color:#FF724C;
    font-size: 16px;
    margin-left: 2px;
    margin-bottom:-6px;
    font-weight: 400;
}

#navbar::after{
    display: table;
    content: '';
    clear: both;
}

#navbar img{
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: 33px;
    margin-right: 13px;
    display:block;
    float: left;
}


#header {
    float: left;
    margin: 0;
    padding: 0;
    width: 65%;
    display: block;
}

#header ul {
list-style: none;
font-size: large;
margin-left: 20%;
margin-top: 33px;
margin-bottom: 32px;
margin-right: 0;
width: 100%;
display: block;
}

#header li{
    display: inline-block;
    margin-left: 150px;
    padding: 0;
    margin-right: 0;
}

#header li a{
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

#header li a::after { 
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  
  #header li a:hover::after { 
    width: 100%; 
    left: 0; 
  }



#Navbar{
    position: fixed;
    margin-top: 0;
    
}





/************** HOME PAGE ***************/
/***********PLEASE DONT REMOVE THIS STYLE TOO *********/






/************** MENU PAGE ***************/


/************** CART PAGE ***************/

.cart {
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
}

.cart h1 {
    font-size: 40px;
    font-weight: 600;
    color: #1E1E1E;
    line-height: .5rem;
    margin: 5px 0 25px 10px;
}

.cart-row {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;

}

.cart-col {
    width: 50%;
    padding: 15px;
}

.card {
    display: flex;
    border: 1px solid #F6F6F6;
    border-radius: 2px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card:hover {
    transform: scale(1.01);
    transition: all 0.5s ease;
}

.card img {
    width: 140px;
    height: 140px;
}

.card-name {
    color: #1E1E1E;
    padding-top: 15px;
}

.card-name h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}

.card-name p {
    font-size: 15px;
    font-weight: 400;
}

.price-delete {
    color: #1E1E1E;
    padding: 17px 0 0 0;
}

.price-delete .price {
    font-weight: bold;
    font-size: 25px;
}

.price-delete .quantity {
    font-weight: 600;
    margin-top: 5px;
    margin-right: -10px;
    margin-left: 70px;
    width: 70px;
    padding: 5px;
    border: 1px solid #F6F6F6;
    border-radius: 2px;
    color: #1E1E1E;
    cursor: pointer;
}

.price-delete .quantity .minus {
    padding-right: 2px;
}



.price-delete .quantity .quantity-input {
 
    border-right: 1px solid #797676;
    border-left: 1px solid #797676;
    padding: 0 4px 0 4px;
}

.price-delete .delete {
    margin-top: 20px;
    cursor: pointer;
    padding: 5px ;
    padding-left: 15px;
    align-items: center;
    width: 90px;
    border: 1px solid #F6F6F6;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.price-delete .delete:hover {
    background-color: #4BA90A;
    color: #ffffff;
}

.cart-total {
    background-color: #fcfcfc;
    color: #1E1E1E;
    margin-left: 200px;
    width: 390px;
    height: 180px;
    padding: 15px 0 20px 10px;
}

.cart-total p {
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: 500;
}

.cart-total .total {
    font-weight: 600;
    
}

.cart-total span {
    margin-left: 190px;
}

.cart-total .total-amt {
    margin-left: 230px;
    font-size: 18px;
}

.cart-total .info {
    font-size: 14px;
    font-weight: 300;
    margin: 12px 0 0 110px;
}

.cart-col h3 {
    font-size: 17px;
    margin: 20px 0 5px 200px;

}

.cart-total form input {
    margin-bottom: 20px;
    font-size: 15px;
}

.cart-total form img {
    margin-left: 5px;
}


.cart-col .proceed {
    text-decoration: none;
    font-size: 15px;
    background-color: #4BA90A;
    border-radius: 5px;
    margin: 50px 0 0 290px;
    width: 250px;
    padding: 10px 10px 10px 10px;
    text-transform: capitalize;
    color: #ffffff;
}



@media (max-width: 1024px) {
    .cart-col .cart-total {
        margin-left: 50px;
    }

    .cart-col h3 {
        margin-left: 50px;
    }

    .cart-col .proceed {
        margin-left: 120px;
    }

}

@media (max-width: 912px) {
    .cart {
        width: 100%;
        
    }

    .cart-row {
        display: block;
       
    }

    .cart-col {
        width: 100%;
    }

    .cart-col .proceed {
        padding-right: 10px;
    }
}


@media (max-width: 574px) {
    .cart {
        width: 100%;
        
    }

    .cart-row {
        display: block;
       
    }

    .cart-col .cart-total{
        margin-left: 5px;
        width: 100%;
    }

    .cart-total .total-amt {
        margin-left: 170px;
    }

    .cart-total .info {
        margin-left: 50px;
    
    }

    .cart-col h3 {
        margin-left: 5px;
    }

    .cart-col .proceed {
        margin-left: 50px;
    }

    .card  {
        display: block;
    }

    

}





.coupon {
    padding: 45px 0 0 5px;
}

.coupon label h2 {
    font-weight: 100;
    font-size: 20px;
    color: #1E1E1E;
}

.coupon input {
    font-size: 18px;
    font-weight: 300;
    width: 320px;
    padding: 5px 0 5px 5px;
    border: #4BA90A 1px solid;

    color: #1E1E1E;
    background-color: #ffffff;
}



.coupon .apply {
    font-size: 16px;
    font-weight: 300;
    width: 80px;
    border: 2px solid #4BA90A;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #4BA90A;
    color: #ffffff;
}



.cart-img {
    padding: 40px 0 50px 5px;
}







/************** CONTACT US PAGE ***************/


/************** CHECKOUT PAGE ***************/

.checkout {
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
}

.checkout-row {
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
}

.checkout-col {
    width: 50%;
    padding: 20px;

}

.checkout h2 {
    padding: 10px 0 10px 0;
    color: #1E1E1E;
    font-size: 25px;
    font-weight: 500;
}

.payment-details img {
    width: 500px;
    height: auto;
}
.payment-details{
    background-color: #D4D4D4D4;
}
.delivery-container{
    background-color: #D4D4D4D4;

}
.payment-details h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0 15px 0;
}

.checkout-col form input{
    width: 80%;
    font-size: 20px;
    padding: 5px 0 5px 15px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    border: #4BA90A 2px solid;
    background-color: transparent;
    color: #1E1E1E;
}

.checkout-col form label {
    color: #1E1E1E;
    font-size: 15px;
    font-weight: 400;
    
}

.checkout-col form span .exp{
    display: inline;
    font-size: 20px;
    width: 150px;
}

#secure {
    width: 15px;
    padding-bottom: 40px;
    font-size: 15px;
    
}

/* NEW STYLES  */
#transaction_section{
    margin-left: 15%;
    width: 600px;
    height: 500px;
    box-shadow:  -5px 5px  10px gray, 3px -3px 7px gray;
    padding-left: 10px;
    padding-right: 10px;
}

#transaction_report{
    width: 520px;
    height: 130px;
    background-color: #F4F4F8 ;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-bottom: 3px;

}

#transaction_report h2 {
    font-size: 16px;
    font-weight: 500;
}
#subtotal{
    margin-left: 370px;
}
#delivery_price{
    margin-left: 350px;
}
#total_price{
    margin-left: 370px;
}
#transaction_report h1{
    font-size: 20px;
    font-weight: 600;
}

#mini_text{
    text-align: right;
    font-size: 10px;
}

#payment_option{
    width: 520px;
    height: 130px;
    background-color: #F4F4F8 ;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 3px;
    line-height: 3em;
    font-weight: 600;
    display: flexbox;
}
.card{
    margin-bottom: -8px;
}
#continue{
    background-color: white;
    border: 0;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

#proceed {
    width: 350px;
    height: 60px;
    background-color: #4BA90A;
    margin-left: 81px;
    margin-top: 50px;
    border-radius: 8px;
    border: 0;
}
#proceed a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}
#proceed:hover{
    background-color: #f24822;
}


.save {
    width: 150px;
    background-color: #4BA90A;
    color: #ffffff;
    margin: 25px 0 0 120px;
    padding: 10px 0 10px 55px;
    border-radius: 5px;
    font-weight: 400;
}

.checkout-col2 {
    background-color: #ffffff;
    margin-left: 150px;
    width: 700px;
    height: 500px;
    padding-left: 20px;
}

.checkout-total {
    width: 350px;
    height: 150px;
    color: #1E1E1E;
    padding: 25px 0 40px 10px;
}

.checkout-total p {
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0;
}

.checkout-total p span {
    margin-left: 200px;
}



.checkout-total p .total-amount {
    margin-left: 250px;
    font-size: 16px;
    font-weight: 600;
}

.checkout-total .information {
    margin-left: 85px;
}

.checkout-col .payment-methods {
    padding-top: 25px;
    margin-left: 10px;
}
.checkout-total form input{
    width: auto;
    margin: 10px 20px 0 0;
    display: inline-block;
    
}

.checkout-col2 .checkout-proceed {
    text-decoration: none;
    font-size: 15px;
    background-color: #4BA90A;
    border-radius: 5px;
    margin: 80px 0 0 180px;
    width: 260px;
    padding: 10px 20px 10px 20px;
    text-transform: capitalize;
    color: #ffffff;
}

@media (max-width: 912px) {
    .payment-details img {
        width: 300px;
        height: auto;
    }
    .checkout-col2 {
        margin-left: 0;
        width: 370px;
    }

    .checkout-total {
        width: 300px;
    }

    .checkout-total p .total-amount {
        margin-left: 170px;
    }

    .checkout-total .information {
        margin-left: 20px;
    }
    

}


@media (max-width: 574px) {
    .checkout-row {
        display: block;
    }

    .checkout-col form input{
        width: 100%;
        font-size: 20px;
    }

    .payment-details img {
        width: 200px;
        height: auto;
    }

    .save {
        margin-left: 70px;
    }

    .checkout-col {

        width: 100%;
    }

    .checkout-col2 {
        margin-left: 0;
        width: 300px;
    }

    .checkout-total {
        width: 300px;
        height: 150px;
        color: #1E1E1E;
        padding: 15px 0 40px 10px;
    }

    .checkout-total p .total-amount {
        margin-left: 170px;
    }

    .checkout-total p span {
        margin-left: 190px;
    }

    .checkout-col2 .checkout-proceed {
        margin: 50px 0 20px 90px;
    }

    .checkout-total form input{
        width: auto;
        margin: 0 ;
        display: inline-block;
    }

    .checkout-total .information {
        margin-left: 25px;
    }
    
}








/******************   FOOTER    **************/



.footer {
    height: 170px;
    margin-top: -170px;
    background-color: #A6A6A6;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    padding: 25px 0;
    clear: both;
}


.footer-container {
    /*max-width: 1170px;*/
    max-width: 1300px;
   /** background-color: aqua;**/
   background-color: #A6A6A6;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}



.footer-col {
    width: 15%;
    padding: 5px 15px 5px 30px;
    padding-left: 60px;
}



.footer-col h4 {
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 600;
   
}

.footer-col span img {
    padding-top: 30px;
    margin-right: 30px;
    width: 170px; 

}

.footer-col h4 a {
    padding: 3px 0 0 10px;
    text-decoration: none;
    color: #1E1E1E;
}

.footer-col ul li a {
    font-size: 12px;
    padding: 3px 0 0 10px;
    text-transform: capitalize;
    color: #1E1E1E;
    font-weight: 400;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li img {
    display: block;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 4px;
}

.footer-col2 {
    width: 50%;
    align-items: flex-start;
    padding: 5px 170px;
    color: #1E1E1E;
}

.footer-col2 p {
    font-size: 14px;
    
}

.footer-col2 a {
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    color: #1E1E1E;
    background-color: #797676;
    margin: 0 10px 0 15px;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s ease;
}
.footer-col2 a:hover {
    color: #ffffff;
    background-color: #1E1E1E;
}

@media (max-width: 1024px) {
    .footer-col2 {
        width: 50%;
        padding: 15px 0 10px 45px;
        align-items: center;
    }

    .footer-col span img {
        width: 120px;
    }
}

@media (max-width: 912px) {
    .footer-col {
        width: 15%;
        margin-bottom: 30px;
        padding-right: 10px;
    }

    .footer-col span img {
        width: 120px;
    }

    .footer-col2 {
        width: 50%;
        padding: 2px 50px;
        align-items: center;
    }
}




@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer-col2 {
        width: 100%;
        padding: 2px 10px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }

    .footer-col2 {
        width: 100%;
        padding: 2px 60px;
        align-items: center;
    }

    .footer-col2 p span {
        display: block;
        padding-top: 2px 0 5px 0;
    }
}



/******************   RESTAURANT    **************/
.restaurant {
    background-color: #ffffff;
    color: #1E1E1E;
    padding: 5px 15px 20px 15px;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.rest-head {
    display: flex;
    width: 100%;
    
}

.rest-head h1 {
    font-size: 50px;
    font-weight: 600;
}

.rest-head p {
    font-size: 20px;
    font-weight: 300;
}

.rest-header {
    margin-top: 50px;
}

.rest-head img {
    width: 50%;
    height: 500px;
    float: right;
    margin-left: 150px;
}

.restaurant h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-right: 30px;
}

.rest-recommended {
    display: flex;
}

.restaurant .filter {
    background-color: #DAF3C8;
    text-align: center;
    height: 30px;
    color: #4ba90a;
    padding: 5px 10px 0 10px ;
    border-radius: 10px;
    cursor: pointer;
    
}

.search-box {
    display: flex;
    justify-content: center;
    border: 1px solid #4BA90A;
    border-radius: 5px;
    padding: 7px 0 7px 25px;
    cursor: pointer;
    width: 650px;
    margin: 0 auto;
}

.search-box i {
    color: #4BA90A;
    margin-right: 5px;
}

.search-rest {
    padding: 50px 0 60px 0;
    text-align: center;
}

.search-rest input {
    font-size: 17px;
    width: 580px;
    border: none;
    outline-style: none;
}



.restaurant-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.rest-card {
    width: 290px;
    height: 350px;
    text-align: center;
    margin: 10px;
}

.rest-card:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
}



.rest-card img {
    width: 290px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rest-view {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 60px 20px ;
    
}

.rest-view span i{
    padding-top: 10px;
    margin-left: 5px;
    color: gold;
}

.rest-view a {
    background-color: #ff724c;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 25px 10px 25px;
   
}

.rest-card-details {
   
    border-radius: 5px;
    padding: 15px 5px 5px 5px;
    height: 130px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.rest-card-details p {
    padding-top: 7px;
}

.rest-view-more {
    display: flex;
    justify-content: center;
    padding: 15px 15px 150px 15px;
}

.rest-view-more ul li {
    margin: 0 4px;
    padding: 2px 5px;
    background-color: #F6F6F6;
    cursor: pointer;
}

.rest-view-more ul {
    display: flex;
    margin-left: 25px;
}

.restaurant h4 {
    text-align: right;
    margin-right: 40px;
}

.rest-footer {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

@media (max-width: 574px) {
    .rest-head {
        display: block;
    }

    .rest-head img {
        width: 100%;
        padding-bottom: 15px;
    }

    
    .rest-head h1 {
    font-size: 45px;
    font-weight: 600;
    }

    .rest-head p {
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 10px;
    }

    .search-box {
        width: 450px;
    }

    .search-rest input {
        font-size: 17px;
        width: 400px;
        border: none;
    }
}

@media (max-width: 767px) {

    .rest-head {
        display: block;
    }

    .rest-head img {
        width: 100%;
        padding-bottom: 15px;
    }

    .search-box {
        width: 350px;
    }

    .search-rest input {
        font-size: 17px;
        width: 300px;
        border: none;
    }
}



/******************   MAMAPUTIN RESTAURANT    **************/
.mamaputin {
    color: #1E1E1E;
    padding: 0 0 40px 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.mamaputin-head {
    background-image: url("images/mamaputin-big-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;
    color: #ffffff;
}

.mamaputin-head h1 {
   font-size: 40px;
   font-weight: 600;
   margin-bottom: 60px;
    
}

.mamaputin-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: -50px auto 100px auto;
    background-color: #FFF5F5;
    color: #000000;
    height: 120px;
    width: 60%;
    border-radius: 5px;
}

.mamaputin-address ul li{
    list-style: none;
    padding: 5px 0;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.mamaputin-address ul li span {
    font-size: 15px;
    font-weight: 600;
}

/*
.mamaputin-address table td{
    padding: 20px 35px;
}*/

.mamaputin-address ul li span i{
    padding-right: 4px;
    color: gold;
}

.mamaputin h3  {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 30px;
    color: #1E1E1E;
}

.mamaputin-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

.mamaputin-card {
    width: 280px;
    height: 330px;
    text-align: center;
    margin: 10px;

}

.mamaputin-card:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
}


.mamaputin-card img {
    width: 280px;
    height: 230px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mamaputin-card-details {
    border-radius: 5px;
    padding-top: 10px;
    height: 85px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.mamaputin-details-head {
    display: flex;
    justify-content: space-evenly;
}

.mamaputin-card-details h4 {
    margin-right: 70px ;
}





.mamaputin-card-details button {
    background-color: #ff724c;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    margin: 10px 0;
}

.mamaputin-review-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mamaputin-review-details  {
    width: 350px;
    background-color: #C7E5B3;
    height: 250px;
    padding: 80px 30px 10px 30px;
    border-radius: 25px 5px ;
    margin-top: 100px;
    margin-left: 50px;
    color: #1E1E1E;
}

.mamaputin-review-row .mamaputin-review-footer {
    width: 50%;
    object-fit: cover;
    height: 400px;
    float: right;
  /*  margin-left: 50px;*/

}

.mamaputin-review img {
    width: 130px;
    object-fit: cover;
    height: 130px;
    margin-top: -190px;
    margin-bottom: 30px;
    /*margin-right: 200px;*/
}

.mamaputin-review-details h4 {
    font-size: 20px;
    font-weight: 600;
}



.mamaputin-review-details span i {
    padding-right: 5px;
    padding-bottom: 10px;
    color: gold;
}

.mamaputin-review-details p {
    font-size: 15px;
    font-weight: 400;
}

.review-slide {
    color: #4BA90A;
    margin-left: 120px; 
    margin-top: 10px;
}

.mamaputin-footer-header  {
    display: flex;
    justify-content: right;
    margin: 150px 20px 10px 0;

}

.mamaputin-footer {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}


@media (max-width: 540px) and (max-width: 767px) {
    .mamaputin-head h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 50px;
         
    }

    .mamaputin-address {
        display: block;
        padding: 8px;
        height: fit-content;
        
    }

    .mamaputin-address ul {
        padding-top: 5px;
    }
    
    /*
    .mamaputin-address table span i{
        color: gold;
    }

    .mamaputin-address table td{
        padding: 7px;
    }*/

    .mamaputin-review-row {
        display: block;
        width: 100%;
    }

   /* .mamaputin-review-row img {
        display: block;
        width: 50%;
        height: 400px;
        margin-top: 35px;
    }
    
    .mamaputin-review img {
        width: 130px;
        height: 130px;
        margin-top: -70px;
        margin-right: 100px;
    }
    */
    
    .mamaputin-footer-header  {
        display: flex;
        justify-content: right;
        margin: 550px 20px 10px 0;
    
    }
    
    .mamaputin-footer {
        display: flex;
        justify-content: right;
        margin-right: 20px;
        
    }
    

}

@media (max-width: 912px) {
    .mamaputin-head h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 50px;
         
    }

    .mamaputin-address {
        display: block;
        padding: 10px;
        height: fit-content;
        margin: -90px auto 100px auto;
    }

    .mamaputin-address ul {
        padding-top: 5px;
    }

   
   /* .mamaputin-address table td{
        padding: 2px;
    }
   */
    .mamaputin-review-row {
        display: block;
        width: 100%;
    }
   
    .mamaputin-review-details {
        margin-left: 10px;
    }

    .mamaputin-review-row .mamaputin-review-footer {
        width: 100%;
        height: 400px;
        margin-top: 35px;
    }
    
   
    
    .mamaputin-footer-header  {
        display: flex;
        justify-content: right;
        margin: 550px 20px 10px 0;
    
    }
    
    .mamaputin-footer {
        display: flex;
        justify-content: right;
        margin-right: 20px;
        
    }
    
}